.fixed-header {
    header {
      top: -81px;
      &.show, &:hover {
        top: 0;
      }

      &.menu__wrapper_active {
        top: 0;
      }
    }
  }
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    -webkit-transition: top 0.4s, box-shadow 0.2s;
    -moz-transition: top 0.4s, box-shadow 0.2s;
    -o-transition: top 0.4s, box-shadow 0.2s;
    transition: top 0.4s, box-shadow 0.2s;
    background: $white;
    border-bottom: 1px solid #E5E7EB;
    & .container {
        padding-right: 0;
        @media #{$md} {
            padding-right: 20px;
        }
    }
    &-inner {
        display: flex;
        align-items: center;
        @media #{$md} {
            height: 72px;
            justify-content: space-between;
        }
    }
    &__wrapper {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        @media #{$md} {
            padding: 24px 0 0;
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            right: calc(-100% - 1px);
            width: 100%;
            min-height: calc(100vh - 71px);
            max-height: calc(100vh - 71px);
            overflow-x: hidden;
            overflow-y: scroll;
            top: 73px;
            background: $white;
            transition: all 1s ease-in-out;
            &.open {
                right: 0;
                & .header__controls {
                    right: 0;
                }
            }
        }
    }
    &__logo {
        @media #{$md} {
            margin-right: auto;
        }
    }
    &__menu {
        margin-right: 40px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        background: #F9FAFB;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        @media #{$xl} {
            margin-right: 30px;
        }
        @media #{$lg} {
            margin-right: 20px;
        }
        @media #{$md} {
            border-radius: 0;
            margin-right: auto;
            width: calc(100% + 20px);
            display: inline-flex;
            background: transparent;
            flex-wrap: wrap;
            margin-left: 20px;
            max-height: 36px;
            height: 36px;
            transition: all 0.75s ease-in-out;
            &.active {
                max-height: 1000px;
                height: auto;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            background-color: $gray900;
            mask-size: contain;
            mask-position: center;
            mask-image: url("../img/icons/caret.svg");
            right: 16px;
            top: calc(50% - 5px);
            transition: all .3s ease-in-out;
            @media #{$md} {
                top: 12px;
                right: 60px;
                width: 16px;
                height: 16px;
                background-color: $gray700;
            }
        }
        &.active::after {
            transform: rotate(180deg);
        }
    }
    &__menu-list {
        display: block;
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 0;
        width: 320px;
        left: 0;
        padding: 12px;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        border: 1px solid $gray200;
        background-color: $white;
        border-radius: 8px;
        transition: all 0.5s ease-in;
        overflow: hidden;
        pointer-events: none;
        @media #{$md} {
            transition:  none;
            margin-top: 12px;
            width: calc(100% - 20px);
            position: initial;
            order: 3;
            box-shadow: none;
            display: flex;
            justify-content: space-between;
        }
        @media #{$sm} {
            display: block;
        }
        &.active {
            pointer-events: all;
            height: auto;
            max-height: 1000px;     
            top: calc(100% + 8px);     
            opacity: 1;
            z-index: 30;
            @media #{$md} {
                transition:  none;
            }
        }
    }
    &__menu-item {
        display: flex;
        align-items: flex-start;
        padding: 12px;
        &:hover {
            background-color: $gray100;
            border-radius: 8px;
        }
    }
    &__menu-img {
        margin-right: 16px;
        width: 24px;
        height: 24px;
    }
    &__menu-title {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray900;
        margin-bottom: 4px;
    }
    &__menu-subtitle {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray500;
    }
    &__opener {
        margin-left: 12px;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray900;
        @media #{$md} {
            margin-left: 0;
            font-size: 1.8rem;
            order: 1;
        }
    }
    &__new {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $redorange300;
        border-radius: 100px;
        background-color: $redorange50;
        padding: 8px 9px;
        @media #{$md} {
            margin-left: 12px;
            padding: 8px 16px;
            order: 2;
        }
    }
    &__links {
        display: flex;
        flex: 1 0;
        border-left: 1px solid $gray200;
        @media #{$md} {
            border-left: 0;
        }
        @media #{$md} {
            width: 100%;
            display: block;
            padding: 0 20px 20px;
            margin-top: 20px;
            margin-bottom: 90px;
        }
    }
    &__link {
        padding: 30px 0 30px 40px;
        color: $gray700;
        font-size: 1.4rem;
        line-height: 1.43;
        position: relative;
        @media #{$xl} {
            padding: 30px 0 30px 30px;
        }
        @media #{$lg} {
            padding: 26px 0 26px 20px;
        }
        @media #{$md} {
            font-size: 1.8rem;
            padding: 0;
            &:not(:first-child) {
                display: block;
                margin-top: 24px;
            }
        }
        &.active::after {
            position: absolute;
            content: "";
            bottom: -1px;
            right: 0;
            z-index: 1;
            width: calc(100% - 40px);
            height: 1px;
            background-color: $gray900;
            @media #{$xl} {
                width: calc(100% - 30px);
            }
            @media #{$lg} {
                width: calc(100% - 20px);
            }
            @media #{$md} {
                display: none;
            }
        }
        &--megamenu {
            cursor: pointer;
            padding-right: 24px;
            @media #{$md} {
                padding-left: 0;
                display: block;
                width: 100%;
            }
            &::after {
                position: absolute;
                content: "";
                width: 12px;
                height: 12px;
                background-color: $gray900;
                mask-size: contain;
                mask-position: center;
                mask-image: url("../img/icons/caret.svg");
                right: 0;
                top: calc(50% - 6px);
                transition: all .3s ease-in-out;
                @media #{$md} {
                    top: calc(50% - 8px);
                    width: 16px;
                    height: 16px;
                    background-color: $gray700;
                }
            }
            &.open::after {
                transform: rotate(180deg);
            }
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        align-self: stretch;
        @media #{$md} {
            margin-left: auto;
            border-top: 1px solid $gray200;
            width: 100%;
            position: fixed;
            transition: all 1s ease-in-out;
            right: calc(-100% - 1px);
            left: 0;
            bottom: 0;
            z-index: 25;
        }
    }
    &__control {
        width: 97px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $gray200;
        height: 100%;
        cursor: pointer;
        transition: all .3s ease-in-out;
        @media #{$xl} {
            width: 77px;
        }
        @media #{$lg} {
            width: 57px;
        }
        @media #{$md} {
            background: $white;
            height: 90px;
            width: 33.333%;
        }
        &:hover {
            background: $gray100;
        }
        &--search.open {
            transition: none;
            background-color: $redorange400;
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: center;
            background-image: url("../img/icons/search-white.svg");
            & img {
                display: none;
            }
            @media #{$md} {
                border-left: 0;
            }
        }
    }
    &__megamenu {
        z-index: -1;
        opacity: 0;
        display: block;
        top: 0;
        background-color: $white;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        border: 1px solid $gray200;
        padding: 24px 40px;
        z-index: 20;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        transition: all .3s ease-in-out;
        pointer-events: none;
        transition: none;
        @media #{$md} {
            padding: 24px 16px;
            height: 0;
            overflow: hidden;
        }
        &.open {
            pointer-events: all;
            z-index: 20;
            opacity: 1;
            top: 100%;
            @media #{$md} {
                height: auto;
                border-radius: 6px;
                transition: all .3s ease-in-out;
                width: 100%;
                position: relative;
                top: 0;
                margin-top: 16px;
                padding-bottom: 0;
                box-shadow: none;
            }
        }
    }
    &__megamenu-items {
        display: flex;
        max-height: 450px;
        overflow-y: scroll;
        scrollbar-color: $gray600 #D9D9D9; 
        scrollbar-width: thin;
        margin-bottom: 28px;
        @media #{$md} {
            display: block;
            max-height: initial;
            overflow: hidden;
        }
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #D9D9D9;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $gray600;
            border-radius: 100px;
            border: 0;
        }
    }
    &__megamenu-item {
        width: 33.3333%;
        margin-right: 24px;
        @media #{$md} {
            width: 90%;
        }
    }
    &__megamenu-category {
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray400;
        margin-bottom: 12px;
    }
    &__megamenu-link {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 12px;
        transition: all .3s ease-in-out;
        @media #{$md} {
            padding-left: 0;
        }
        &:not(:first-child) {
            margin-top: 8px;
        }
        &:hover {
            background: $gray100;
            border-radius: 8px;
        }
    }
    &__megamenu-img {
        margin-right: 16px;
        border-radius: 10px;
        background-color: $redorange50;
        padding: 14px;
    }
    &__megamenu-title {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray900;
        margin-bottom: 4px;
    }
    &__megamenu-subtitle {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray500;
    }
    &__megamenu-footer {
        background: $gray50;
        border-radius: 8px;
        padding: 28px 32px;
        display: flex;
        justify-content: space-between;
        @media #{$md} {
            display: block;
            padding: 28px 16px;
            position: relative;
            width: calc(100% + 32px);
            left: -16px;
        }
    }
    &__megamenu-text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray900;
    }
    &__megamenu-contact {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $redorange400;
        padding-left: 28px;
        position: relative;
        @media #{$md} {
            display: block;
            margin-top: 24px;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
            background: url(../img/icons/message.svg) center no-repeat;
        }
    }
    &__call {
        display: none;
        @media #{$md} {
            margin-top: 3px;
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 20px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__burger {
        display: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        padding: 6px 3.75px;
        @media #{$md} {
            display: block;
        }
        @media #{$sm} {
            margin-left: auto;
        }
        span {
            position: relative;
            display: block;
            width: 19px;
            height: 2px;
            background-color: $gray700;
            transition: transform 0.3s ease-in-out;
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }
        &.close {
            & span:first-child {
                transform: rotate(45deg);
                top: 5px;
                left: -1px;
            }
            & span:nth-child(2) {
                background-color: transparent;
            }
            & span:last-child {
                transform: rotate(-45deg);
                top: -9px;
                left: -1px;
            }
        }
        @media #{$md} {
            display: block;
        }
    }
}
