.main-product .descriptor {
    background-position: center;
}
.facts {
    padding-top: 72px;
    & .section-title {
        padding-left: 40px;
        max-width: 640px;
    }
    &__list {
        display: flex;
        margin-top: 60px;
        border-top: 1px solid $gray200;
        border-bottom: 1px solid $gray200;
    }
    &__item {
        width: 25%;
        padding: 40px 40px 72px;
        position: relative;
        &:not(:last-child) {
            border-right: 1px solid $gray200;
        }
    }
    &__img {
        width: 60px;
        height: 60px;
        margin-bottom: 40px;
    }
    &__arrow {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 54px;
        right: 40px;
        content: "";
        background-color: $gray400;
        mask-size: contain;
        mask-position: center;
        mask-image: url("../img/icons/arrow.svg");
        transform: rotate(-90deg);
    }
    &__suptitle {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray400;
        margin-bottom: 8px;
    }
    &__title {
        letter-spacing: -0.02em;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1.35;
        color: $gray900;
        margin-bottom: 16px;
    }
    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray500;
    }
}
.recommended {
    padding-top: 72px;
    &__subtitle {
        margin-top: 24px;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.5;
        color: $gray500;
        max-width: 460px;
    }
    &__slider {
        margin-top: 60px;
        border-top: 1px solid $gray200;
        border-bottom: 1px solid $gray200;
    }
    &__item {
        min-height: 500px;
        width: 421px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-right: 1px solid $gray200;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $gray900;
            opacity: 0.4;
            z-index: 1;
        }
    }
    &__text {
        position: relative;
        z-index: 2;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1.35;
        letter-spacing: -0.02em;
        color: $white;
    }
    &__arrows {
        position: relative;
        grid-column: 1/2;
        display: flex;
        border-bottom: 1px solid $gray200;
        & .recommended__next {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $gray700;
            padding: 28px 77px;
            width: 50%;
            height: 100%;
            margin: 0;
            right: 0;
            top: 0;
            left: 0;
            display: inline-block;
            position: initial;
            border-left: 1px solid transparent;
            text-align: center;
            &::after {
                display: none;
            }
            & span {
                display: inline-block;
                position: relative;
                padding-right: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: calc(50% - 12px);
                    width: 24px;
                    height: 24px;
                    background-color: $gray700;
                    mask-size: contain;
                    mask-position: center;
                    mask-image: url("../img/icons/arrow.svg");
                    transform: rotate(-90deg);
                }
            }
        }
        & .recommended__prev {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $gray700;
            padding: 28px 77px;
            margin: 0;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            display: inline-block;
            position: initial;
            border-right: 1px solid $gray200;
            position: relative;
            text-align: center;
            &::after {
                display: none;
            }
            & span {
                display: inline-block;
                position: relative;
                padding-left: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 12px);
                    width: 24px;
                    height: 24px;
                    background-color: $gray700;
                    mask-size: contain;
                    mask-position: center;
                    mask-image: url("../img/icons/arrow.svg");
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.price {
    padding-top: 72px;
    background: $gray50;
    &__subtitle {
        margin-top: 24px;
        font-size: 2rem;
        line-height: 1.5;
        color: $gray500;
        max-width: 450px;
    }
    &__list {
        margin-top: 60px;
        display: flex;
    }
    &__item {
        border: 1px solid $gray200;
        width: 33.33%;
        display: flex;
        flex-direction: column;
    }
    &__info {
        padding: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__name {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: $gray500;
    }
    &__cost {
        margin-top: 16px;
        letter-spacing: -0.02em;
        color: $gray900;
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 1.25;
        & span {
            display: inline-block;
            font-weight: 500;
            color: $gray500;
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
    &__text {
        margin-top: 16px;
        max-width: 400px;
        color: $gray500;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    &__links {
        margin-top: auto;
    }
    &__link {
        text-align: center;
        display: block;
        max-width: 400px;
        padding: 12px 24px;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray900;
        font-weight: 600;
        border-radius: 4px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: $redorange200;
        &:hover {
            background-color: $redorange300;
        }
        & span {
            padding-right: 32px;
            display: inline-block;
            position: relative;
        }
        & span::after {
            position: absolute;
            content: '';
            top: calc(50% - 10px);
            right: 0;
            width: 20px;
            height: 20px;
            background-image: url(../img/icons/arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: rotate(-90deg);
        }
        &--white {
            border: 1px solid $gray300;
            background: transparent;
            & span {
                padding-right: 0;
            }
            & span::after {
                display: none;
            }
            &:hover {
                background: $gray100;
                border: 1px solid $gray300;
                border-radius: 4px;
            }
        }
        &:not(:first-of-type) {
            margin-top: 12px;
        }
    }
    &__services {
        padding: 40px 40px 72px;
        border-top: 1px solid $gray300;
        margin-top: auto;
    }
    &__services-title {
        color: $gray900;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__services-subtitle {
        padding-top: 40px;
        margin-top: 4px;
        color: $gray500;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__services-list {
        margin-top: 24px;
    }
    &__services-item {
        padding-left: 36px;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray500;
        &:not(:first-child) {
            margin-top: 16px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            background-color: $redorange400;
            mask-size: contain;
            mask-position: center;
            mask-image: url("../img/icons/check.svg");
        }
    }
}