.main-product .descriptor {
    background-position: center;
}
.facts {
    padding-top: 72px;
    & .section-title {
        padding-left: 40px;
        max-width: 640px;
    }
    &__list {
        display: flex;
        margin-top: 60px;
        border-top: 1px solid $gray200;
        border-bottom: 1px solid $gray200;
    }
    &__item {
        width: 25%;
        padding: 40px 40px 72px;
        &:not(:last-child) {
            border-right: 1px solid $gray200;
        }
    }
    &__img {
        width: 60px;
        height: 60px;
        margin-bottom: 40px;
    }
    &__title {
        letter-spacing: -0.02em;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1.35;
        color: $gray900;
        margin-bottom: 16px;
    }
    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gray500;
    }
}
.recommended {
    padding-top: 72px;
    &__subtitle {
        margin-top: 24px;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.5;
        color: $gray500;
        max-width: 460px;
    }
    &__slider {
        margin-top: 60px;
        border-top: 1px solid $gray200;
        border-bottom: 1px solid $gray200;
    }
    &__item {
        min-height: 500px;
        width: 421px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-right: 1px solid $gray200;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $gray900;
            opacity: 0.4;
            z-index: 1;
        }
    }
    &__text {
        position: relative;
        z-index: 2;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1.35;
        letter-spacing: -0.02em;
        color: $white;
    }
    &__arrows {
        position: relative;
        grid-column: 1/2;
        display: flex;
        border-bottom: 1px solid $gray200;
        & .recommended__next {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $gray700;
            padding: 28px 77px;
            width: 50%;
            height: 100%;
            margin: 0;
            right: 0;
            top: 0;
            left: 0;
            display: inline-block;
            position: initial;
            border-left: 1px solid transparent;
            text-align: center;
            &::after {
                display: none;
            }
            & span {
                display: inline-block;
                position: relative;
                padding-right: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: calc(50% - 12px);
                    width: 24px;
                    height: 24px;
                    background-color: $gray700;
                    mask-size: contain;
                    mask-position: center;
                    mask-image: url("../img/icons/arrow.svg");
                    transform: rotate(-90deg);
                }
            }
        }
        & .recommended__prev {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $gray700;
            padding: 28px 77px;
            margin: 0;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            display: inline-block;
            position: initial;
            border-right: 1px solid $gray200;
            position: relative;
            text-align: center;
            &::after {
                display: none;
            }
            & span {
                display: inline-block;
                position: relative;
                padding-left: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 12px);
                    width: 24px;
                    height: 24px;
                    background-color: $gray700;
                    mask-size: contain;
                    mask-position: center;
                    mask-image: url("../img/icons/arrow.svg");
                    transform: rotate(90deg);
                }
            }
        }
    }
}