// fonts
$inter: 'Inter',Helvetica,Arial,sans-serif;

// media
$xxl: 'screen and (max-width: 1600px)'; //до 1400
$xl: 'screen and (max-width: 1400px)'; //до 1200
$lg: 'screen and (max-width: 1200px)'; // до 992
$md: 'screen and (max-width: 992px)'; // до 768 
$sm: 'screen and (max-width: 768px)'; //до 576
$esm: 'screen and (max-width: 576px)'; 
 
//colors
$white: #ffffff;
$black: #000000;
$gray900: #111927;
$gray800: #1F2A37;
$gray700: #384250;
$gray600: #4D5761;
$gray500: #6C737F;
$gray400: #9DA4AE;
$gray300: #D2D6DB;
$gray200: #E5E7EB;
$gray100: #F3F4F6;
$gray50: #F9FAFB;
$gray25: #FCFDFD;
$redorange600: #E62E05;
$redorange500: #FF4405;
$redorange400: #FF692E;
$redorange300: #FF9C66;
$redorange200: #FFD6AE;
$redorange100: #FFE6D5;
$redorange50: #FFF4ED;