#video.popup-video.js-popup
  .popup-video__close.js-popupClose.js-closeVideo
  .popup-video__content
    iframe(src='https://www.youtube.com/embed/No3j2E9T8T8' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')