footer.footer 
    .container 
        .footer__inner 
            .footer__col 
                a(href="index.html").footer__logo
                    img(src="img/icons/logo.svg", alt="AVB Team")
                p.footer__label AVB Team Finanz - und Versicherungsmakler GmbH
            .footer__col 
                .footer__title Main pages 
                ul.footer__links 
                    li.footer__link 
                        a(href="#").footer__text Home
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung
                    li.footer__link 
                        a(href="#").footer__text Finanzplanung
                    li.footer__link 
                        a(href="#").footer__text Ruhestandsplanung
                    li.footer__link 
                        a(href="#").footer__text Produkte
                    li.footer__link 
                        a(href="#").footer__text Über uns
                    li.footer__link 
                        a(href="#").footer__text Honorarberatung
                    li.footer__link 
                        a(href="#").footer__text Aktuelles
                    li.footer__link 
                        a(href="#").footer__text Kontakt
            .footer__col 
                .footer__title Produkte
                ul.footer__links 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung First page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Second page
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Third page 
                    li.footer__link 
                        a(href="#").footer__text Ruhestandsplanung
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Fourth page
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Fifth page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Sixth page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Seventh page
                    li.footer__link 
                        a(href="#").footer__text Finanzplanung Second page
                    li.footer__link 
                        a(href="#").footer__text Finanzplanung Third page longtextname
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung First page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Second page
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Third page 
                    li.footer__link 
                        a(href="#").footer__text Ruhestandsplanung
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Fourth page
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Fifth page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Sixth page 
                    li.footer__link 
                        a(href="#").footer__text Risikoplanung Seventh page
                    li.footer__link 
                        a(href="#").footer__text Finanzplanung Second page
                    li.footer__link 
                        a(href="#").footer__text Finanzplanung Third page longtextname
            .footer__col 
                .footer__title Address
                .footer__text Friedensallee 271, 22763 Hamburg
                .footer__contacts 
                    .footer__contact 
                        .footer__title Phone
                        a(href="tel:0404313910").footer__text 040 431-391-0
                    .footer__contact 
                        .footer__title Fax
                        a(href="tel:04043139119").footer__text 040 431-391-19
                .footer__title Email
                a(href="mailto:sales@avbteam.de").footer__text sales@avbteam.de
                a(href="#").footer__btn.btn Jetzt anfragen
        .footer__social
            .footer__copyright &copy;&nbsp;2022. AVB-Team
            .footer__sites
                a(href="#").footer__site LinkedIn
                a(href="#").footer__site Instagram
                a(href="#").footer__site Facebook
            .footer__docs 
                a(href="#").footer__doc Cookies
                a(href="#").footer__doc Impressum
                a(href="#").footer__doc Datenschutzerklärung
        
