main(class=`main main-${page}`)
    section(style="background-image: url(img/about/descriptor.jpg)").descriptor
        .container.container--flex 
            .descriptor__content
                h1.descriptor__title Über uns
                p.descriptor__text Betrachten Sie Investitionen auf eine neue Art und Weise, der Einsatz von Technologie erleichtert die Erzielung von Einnahmen
    section.statistics
        ul.statistics__list 
            li.statistics__item 
                .statistics__number 25+
                p.statistics__text regular companie&rsquo;s clients &amp;&nbsp;partners
            li.statistics__item 
                .statistics__number 12+
                p.statistics__text years in the investment field
            li.statistics__item 
                .statistics__number 100+
                p.statistics__text flats were bought by our clients in 2021
            li.statistics__item 
                .statistics__number &euro;35m
                p.statistics__text by our clients managing every year
    section.about 
        .about__description.about__description--long  
            h4.section-title Wir helfen den Menschen, sich aufs Geldsparen zu konzentrieren 
            p.about__subtitle Hightower’s suit against $39 million RIA described as ‘wirehouse 101’. Wir optimieren Ihren Versicherungsschutz automatisch, wenn es woanders besser und/ oder günstiger ist. Wir machen keine leeren Versprechungen, sondern zeigen in dieser Woche, dass eine Paketlösung besser ist als konservative Verankerungen in Finanzinstituten. Es ist nicht nötig, eine Dienstleistung nach der anderen bei verschiedenen Anbietern zu kaufen, alles ist bereits vorhanden.
        .about__img 
            img(src="img/about/about.jpg", alt="")
    section.team
            h4.section-title Unser Team
            .team__tabs.js-teamTabs 
                .tabs__nav.team__tabs-nav
                    button.team__tabs-btn.tabs__btn.tabs__btn_active Service-Team
                    button.team__tabs-btn.tabs__btn Kundenberater
                    button.team__tabs-btn.tabs__btn Verwaltung
                .team__tabs-content
                    .team__tabs-block.tabs__pane.tabs__pane_show
                        .team__member(style="background-image: url(img/about/member1.jpg)")
                            .team__member-content
                                .team__member-name Ahmad Atfeh
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member2.jpg)")
                            .team__member-content
                                .team__member-name Heileke Ipsen
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member3.jpg)")
                            .team__member-content
                                .team__member-name Shania Stoyke
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member4.jpg)")
                            .team__member-content
                                .team__member-name Maurice Martens
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                    .team__tabs-block.tabs__pane
                        .team__member(style="background-image: url(img/about/member1.jpg)")
                            .team__member-content
                                .team__member-name Ahmad Atfeh
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member2.jpg)")
                            .team__member-content
                                .team__member-name Heileke Ipsen
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member3.jpg)")
                            .team__member-content
                                .team__member-name Shania Stoyke
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member4.jpg)")
                            .team__member-content
                                .team__member-name Maurice Martens
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member1.jpg)")
                            .team__member-content
                                .team__member-name Ahmad Atfeh
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member2.jpg)")
                            .team__member-content
                                .team__member-name Heileke Ipsen
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member3.jpg)")
                            .team__member-content
                                .team__member-name Shania Stoyke
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member4.jpg)")
                            .team__member-content
                                .team__member-name Maurice Martens
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                    .team__tabs-block.tabs__pane
                        .team__member(style="background-image: url(img/about/member1.jpg)")
                            .team__member-content
                                .team__member-name Ahmad Atfeh
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
                        .team__member(style="background-image: url(img/about/member2.jpg)")
                            .team__member-content
                                .team__member-name Heileke Ipsen
                                .team__member-post (kurz- mittelffristige Geldanlage)
                                .team__member-contacts 
                                    a(href="tel:123213123").team__member-contact
                                    a(href="mailto:123213123").team__member-contact.team__member-contact--mail
                                    a(href="#").team__member-contact.team__member-contact--case
    section.reviews
        h4.section-title Kunden über uns
        ul.reviews__list 
            li.reviews__item
                .reviews__head 
                    .reviews__avatar 
                        img(src="img/icons/avatar1.svg", alt="avatar")
                    h5.reviews__name Svetlana Heß
                    p.reviews__date vor 3 Monaten
                div(data-star="5").reviews__stars.js-stars
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                .reviews__text Seriöse und vertrauensvole Beratung. Alle meine Anliegen und Wünsche wurden beachtet und mir wurde alles ganz genau erklärt. Habe mich sehr gut aufgehoben gefühlt. Empfehle ich auch meinen Freunden!
            li.reviews__item
                .reviews__head 
                    .reviews__avatar 
                        img(src="img/icons/avatar2.svg", alt="avatar")
                    h5.reviews__name Felicia Eggert
                    p.reviews__date vor 2 Monaten
                div(data-star="3").reviews__stars.js-stars
                    span.star.js-star
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                .reviews__text Sehr nettes, kompetentes Team! Eine auf die Person abgestimmte Beratung steht hier an erster Stelle, hier fühlt man sich aufgehoben. Eine definitive Weiterempfehlung.
            li.reviews__item
                .reviews__head 
                    .reviews__avatar 
                        img(src="img/icons/avatar3.svg", alt="avatar")
                    h5.reviews__name Felicia Eggert
                    p.reviews__date vor 2 Jahren
                div(data-star="4").reviews__stars.js-stars
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                    span.star.js-star 
                .reviews__text Sehr zuvorkommendes und vorallem faires und vertrauenswürdiges Maklerbüro. Es wurden alle Wünsche meinerseits berücksichtigt und erfüllt. Mir wurde alles ausführlich und verständlich vermittelt und es wurde sich sehr viel Zeit für mich genommen. Großen Dank dafür. Besonderen Lob gilt Herrn Giordano, durch dem ich einiges dazu lernen konnte. Einfach nur empfehlenswert!
    section.vacancies
        .container.container--flex 
            h4.section-title Aktuelle Stellenangebote bei AVB Team
            .vacancies__inner 
                .vacancies__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                ul.vacancies__links
                    li.vacancies__links-item
                        a(href="#").vacancies__link Direktor Finanzen
                    li.vacancies__links-item
                        a(href="#").vacancies__link Projektleiter
                    li.vacancies__links-item
                        a(href="#").vacancies__link Europäischer Vermögensverwalter
    section.appeal
        .container 
            h4.section-title Zahlen Sie nicht zu viel für Dienstleistungen, die Sie nicht benötigen
            p.appeal__text Wir sind sehr stolz auf das Team, das wir aufgebaut haben - wir sind jetzt mehr als dreißig Leute
            .appeal__contacts 
                a(href="tel:0404313910").appeal__contact 040 431 391 0
                a(href="mailto:info@avbteam.de").appeal__contact.appeal__contact--mail info@avbteam.de
            a(href="#").appeal__btn.btn.btn--orange Lassen Sie uns reden