main(class=`main main-${page}`)
    section(style="background-image: url(img/category/descriptor.jpg)").descriptor
        .container.container--flex 
            .descriptor__content
                h1.descriptor__title Landingpage für Planungsmodule
                p.descriptor__text Betrachten Sie Investitionen auf eine neue Art und Weise, der Einsatz von Technologie erleichtert die Erzielung von Einnahmen
                p.descriptor__link Vertrauen Sie den Profis
    section.video
        .video__wrap  
            video#video.video-js.vjs-16-9(width='', height="600", poster='img/category/video.jpg')
                source(src='video/video.mp4' type='video/mp4')
                source(src='video/video.webm' type='video/webm')
                p.vjs-no-js
                    | To view this video please enable JavaScript, and consider upgrading to a
                    | web browser that
                    a(href='https://videojs.com/html5-video-support/' target='_blank') supports HTML5 vid
            .video__play.js-playVideo 
                span Eine Erklärung unseres einzigartigen Systems
    section.half-block.quote-block
        .half-block__inner 
            .quote 
                h2.quote__title Das Wort des Geschäftsführers
                figure.quote__text
                    blockquote 
                        p &laquo;Vielleicht kennen Sie das auch? Oft beschleicht einen ein ungutes Gef&uuml;hl, wenn man an&nbsp;seine Versicherungen, seine Geldanlagen oder die Altersvorsorge denkt: Bin ich noch richtig und vollst&auml;ndig versichert? Sind meine Versicherungen nicht inzwischen zu&nbsp;teuer? Wo&nbsp;stehe ich eigentlich mit meiner Altersvorsorge Ich habe keine Lust, andauernd zeitraubende Recherchen zu&nbsp;machen
                        p Weil auch viele unserer Mandanten &auml;hnliche Sorgen plagten, haben wir reagiert und unsere neuen Planungsmodule entwickelt.
                        p Wir bieten unseren Mandanten dadurch die ultimative Sicherheit, immer optimal versichert und auf dem neuesten Stand zu&nbsp;sein.&raquo;
                    figcaption &mdash;&nbsp;Ahmad Atfeh, Product Owner
        .half-block__img(style="background-image: url(img/category/quote.jpg); background-position: top")
    section.facts 
        h4.section-title Vorteile des neuen Produkts
        ul.facts__list
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                h5.facts__title Sparschwein
                p.facts__text Durch unsere Planungen arbeite jeder Euro optimal für Sie: Ob bei Ihrer 
            li.facts__item 
                .facts__img 
                    img(src="img/icons/retirement.svg", alt="")
                h5.facts__title Regenschirm in einem Schild mit einem Arm
                p.facts__text Ruhes tandsplanung, Ihrer Geldanlage oder bei Ihren Versicherungen.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/analytics.svg", alt="")
                h5.facts__title Analytisches Dokument
                p.facts__text Durch unsere jährlichen Prüfungen sind Sie immer auf dem besten Stand und müssen sich nicht selbst kümmern.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/insurance.svg", alt="")
                h5.facts__title Geld unter dem Regenschirm
                p.facts__text Sie haben uns als „lotsen“ die immer im Hintergrund aufpassen, dass Sie sicher sind.
    section.plans 
        .section-title  Erklärung der einzelnen Planungen
        ul.plans__list
            li.plans__item 
                h5.plans__title Kapitalanlagen-Planung 
                h4.plans__subtitle (Versicherungen)
                p.plans__text Kern ist unsere wissenschaftlich fundierte Risikoanalyse. So erhalten Sie die Kapitalanlage die perfekt zu Ihnen passt. Mit unserem jährlichen Update passen wir Ihre Strategie an ein gegebenenfalls geänderte...
                a(href="#").plans__link Und noch mehr Möglichkeiten
            li.plans__item 
                h5.plans__title Riskomanagement
                h4.plans__subtitle (kurz- mittelffristige Geldanlage)
                p.plans__text Alles ist im Fluß, also müssen auch Ihre Versicherungen regelmäßig auf Passgenauigkeit überprüft werden. Dies bekommen Sie mit unserem Risikomanagement. Einmal jährlich Prüfen ... Alles ist im Fluß, also müssen auch Ihre Versicherungen regelmäßig auf Passgenauigkeit überprüft werden. Dies bekommen Sie mit unserem Risikomanagement. Einmal jährlich Prüfen ...
                a(href="#").plans__link Und noch mehr Möglichkeiten
            li.plans__item 
                h5.plans__title Ruhestandsplanung
                h4.plans__subtitle (kurz- mittelffristige Geldanlage)
                p.plans__text Kein Pilot der Welt fliegt los, ohne das Ziel zu kennen. Genau diese wichtigen Antworten bekommen Sie bei unserer Ruhestandsplanung exakt berechnet: Wieviel Geld brauche ich eigentlich später ...
                a(href="#").plans__link Und noch mehr Möglichkeiten
    section.investment 
        .container
            h4.section-title Ihre Investition
        ul.investment__list 
            li.investment__item
                h5.investment__name Planungsmodul Risikoplanung
                .investment__cost 4,99 € <span>pro Monat</span>
                p.investment__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
            li.investment__item
                h5.investment__name +Planungsmodul Ruhestandplanung 
                .investment__cost 5,99 € <span>pro Monat</span>
                p.investment__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                a(href="#").investment__link Mehr erfahren
            li.investment__item
                h5.investment__name +Planungsmodul Finanzplanung
                .investment__cost 6,99 € <span>pro Monat</span>
                p.investment__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                a(href="#").investment__link Mehr erfahren
    section.facts 
        h4.section-title Wie funktioniert das
        ul.facts__list
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                .facts__suptitle Erster Schritt
                h5.facts__title Finanzplanung
                p.facts__text Hightower’s suit against $39 million RIA described as ‘wirehouse 101’
                .facts__arrow
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                .facts__suptitle Erster Schritt
                h5.facts__title Finanzplanung
                p.facts__text Hightower’s suit against $39 million RIA described as ‘wirehouse 101’
                .facts__arrow
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                .facts__suptitle Dritter Schritt
                h5.facts__title Finanzplanung
                p.facts__text Hightower’s suit against $39 million RIA described as ‘wirehouse 101’
                .facts__arrow
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                .facts__suptitle Vierter Schritt
                h5.facts__title Finanzplanung
                p.facts__text Hightower’s suit against $39 million RIA described as ‘wirehouse 101’
                .facts__arrow
    section.appeal
        .container 
            h4.section-title Zahlen Sie nicht zu viel für Dienstleistungen, die Sie nicht benötigen
            p.appeal__text Wir sind sehr stolz auf das Team, das wir aufgebaut haben - wir sind jetzt mehr als dreißig Leute
            .appeal__facts 
                a(href="tel:0404313910").appeal__contact 040 431 391 0
                a(href="mailto:info@avbteam.de").appeal__contact.appeal__contact--mail info@avbteam.de
            a(href="#").appeal__btn.btn.btn--orange Lassen Sie uns reden