main(class=`main main-${page}`)
    section.half-block
        .half-block__inner 
            h1.half-block__title Ups... Sie sind auf der falschen Seite gelandet
            h4.half-block__subtitle Der Link, dem Sie gefolgt sind, führt nirgendwo hin. Möglicherweise liegt ein Tippfehler vor oder die Seite wurde gelöscht.
            button(type="submit").half-block__btn.btn.btn--orange.js-submitForm Zur Startseite
        .half-block__img(style="background-image: url(img/404.jpg)")