main(class=`main main-${page}`)
    section.half-block.half-block--short
        .half-block__inner 
            .half-block__date 25 July 2022
            .half-block__time 10 min read
            h1.half-block__title Metaverse ETFs are the hot new thematic investment
            h4.half-block__subtitle The metaverse has officially hit the mainstream, with global assets now pouring into new exchange-traded funds that offer exposure to companies jockeying to create virtual realities. 
            .half-block__author
                .half-block__avatar
                    img(src="img/icons/avatar.svg", alt="")
                .half-block__text
                    .half-block__author-name AVB Team
                    .half-block__author-post Finanz- und Versicherungsmakler
        .half-block__img(style="background-image: url(img/news.jpg)")
    section.content-block
        .content
            p Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.
            p Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat. 
            hr
            h3 Unserer Biometrie-Dienstleistung
            p The latest fund, the Subversive Metaverse ETF (PUNK) launched in January, focuses on companies both in the U.S. and overseas, and comes with an expense ratio of 75 bps. The actively managed fund looks for companies that have exposure to any of the seven layers of the metaverse: experience, discovery, creator economy, spatial computing, decentralization, human interface and infrastructure. 
            p “If a client came to me interested in [metaverse ETFs] and wanted to learn more or was considering adding them to their portfolio, we would evaluate the overall risk, the client’s risk tolerance and the overall goal for the investment just like with traditional assets and make recommendations based on those results,” DeVore said.
            p The ETFs’ top holdings include tech companies like Microsoft Corp. and gaming companies like Roblox Corp., among other firms, according to Bloomberg.
            p DeVore likens the new products to traditional real estate with a modern twist. 
            p “Sure, you can make money by investing in real estate,” he said, “but location plays a huge role. You have to do your due diligence, and you have to understand the heightened risks of alternative investments.”
            p As clients become more comfortable investing in digital assets, metaverse investments are increasingly attractive to early adopters. Revenue from virtual worlds could approach $400 billion by 2025, according to estimates by ARK Research. Bloomberg Intelligence expects the market opportunity for the metaverse to top $800 billion in the next two years.
            p “Investors of the future are going to have unlimited amounts of investment choices, and the adviser’s job is to match investments to their risk tolerance, time horizon and personal preferences,” DeVore said. “We’re much closer to metaverse allocations than much of the industry may realize.”
            h4 Going digital
            p It would take quite some time to go through every stage of computing evolution, so let’s get to the fun part. To the digital revolution. The 1980s marked a ubiquitous transformation from analog tech to digital. These are the interfaces that already existed (out of those that are between people and machines):
            h4 Going digital
            p It would take quite some time to go through every stage of computing evolution, so let’s get to the fun part. To the digital revolution. The 1980s marked a ubiquitous transformation from analog tech to digital. These are the <a href="#">interfaces</a> that already <a href="#">existed</a> (out of those that are between <a href="#">people and machines</a>):
            h5 Double digitalization
            p The latest fund, the Subversive Metaverse ETF (PUNK) launched in January, focuses on companies both in the U.S. and overseas, and comes with an expense ratio of 75 bps. The actively managed fund looks for companies that have exposure to any of the seven layers of the metaverse: experience, discovery, creator economy, spatial computing, decentralization, human interface and infrastructure.
            ol 
                li Lectus id&nbsp;duis vitae porttitor enim gravida morbi. ctus id&nbsp;duis vitae porttitor enim gravida morbi.
                li Eu&nbsp;turpis posuere semper feugiat volutpat elit, ultrices suspendisse. Auctor vel in&nbsp;vitae placerat.
                li Suspendisse maecenas ac&nbsp;donec scelerisque diam sed est duis purus.
            p Discovery, creator economy, spatial computing, decentralization, human interface and infrastructure.
            ul
                li Lectus id&nbsp;duis vitae porttitor enim gravida morbi.
                li Eu&nbsp;turpis posuere semper feugiat volutpat elit, ultrices suspendisse. Auctor vel in&nbsp;vitae placerat.
                li Suspendisse maecenas ac&nbsp;donec scelerisque diam sed est duis purus.
            figure 
                img(src="img/article.jpg", alt="")
                figcaption Economics by Andrew Bratuhin via <a href="#">Shutterstock</a>
            figure
                blockquote 
                    p “In a world older and more complete than ours they move finished and complete, gifted with extensions of the senses we have lost or never attained, living by voices we shall never hear.”
                    figcaption &mdash;&nbsp; Olivia Rhye, Product Designer
            h4 Conclusion
            p The voice is used more and more in SILK interfaces — Speech, Image, Language, Knowledge. Maybe someday we’ll see neurointerfaces that transmit data between neurons and machines through implants. It’s unlikely that we’ll see the end of GUI anytime soon — but technology keeps on moving forward, and when technology gets advanced and available enough, it usually sweeps its predecessor from the map.
            p What do you think we’ll see in ten years, twenty, hundred? Will it be smartphones, will we even have screens at all?
        .content-banner
            .content-banner__img
                img(src="img/icons/banner.svg", alt="")
            .content-banner__title Bereitstellung einer breiten Palette von Finanzdienstleistungen
            .content-banner__text Wir sind sehr stolz auf das Team, das wir aufgebaut haben - wir sind jetzt mehr als dreißig Leute
            a(href="#").content-banner__link 
                p Lassen Sie uns reden
    section.news
        .news-head 
            h4.section-title Neueste Nachrichten
            p.news__subtitle Wir informieren Sie über Investment-News und geben Ihnen nützliche Tipps für Erstanleger    
        .news__slider.swiper.js-newsSlider 
            ul.news__list.swiper-wrapper
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide1.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide2.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Es ist das erste Mal, dass ein Mann so viele Münzen gesehen hat
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide3.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Eine Art von Gerät
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide1.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide2.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Es ist das erste Mal, dass ein Mann so viele Münzen gesehen hat
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
                li.news__item.swiper-slide
                    .news__img 
                        img(src="img/index/slide3.jpg", alt="")
                    .news__info
                        .news__date 20. Juli 2022
                        .news__category Finanzen
                    .news__description
                        h5.news__title Eine Art von Gerät
                        p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    a(href="#").news__more Mehr erfahren 
        .news__controls
            .news__arrows.slider-arrows
                .swiper-button-prev.news__prev 
                    span Zurück 
                .swiper-button-next.news__next 
                    span Weiter    
            a(href="#").news__link 
                span Alle Nachrichten