main(class=`main main-${page}`)
    section.news-list 
        .container 
            a(href="index.html").link-index Zur startseite
            h4.section-title Aktuelles
            .news-list__subtitle Betrachten Sie Investitionen auf eine neue Art und Weise, der Einsatz von Technologie erleichtert
        .news-list__items
            li.news__item
                .news__img 
                    img(src="img/index/slide1.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren
            li.news__item
                .news__img 
                    img(src="img/index/slide2.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Es ist das erste Mal, dass ein Mann so viele Münzen gesehen hat
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/index/slide3.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Eine Art von Gerät
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news4.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Wer auch immer entmutigt ist - lasst euch nicht entmutigen
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news5.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Die Leute sitzen auf Münzen und haben eine gute Zeit
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news6.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Mehrere Papiere liegen auf dem Tisch
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news7.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Die Weltwirtschaft befindet sich in einer Rezession
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news8.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Die Staats- und Regierungschefs der Welt kommen zusammen, um etwas Wichtiges zu besprechen
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren 
            li.news__item
                .news__img 
                    img(src="img/news-list/news9.jpg", alt="")
                .news__info
                    .news__date 20. Juli 2022
                    .news__category Finanzen
                .news__description
                    h5.news__title Die gute Nachricht steht unter dem Bild
                    p.news__text Wie man die kommende Finanzkrise vermeiden kann: eine Diskussion mit Experten
                a(href="news.html").news__more Mehr erfahren  
        .news-list__more 
            p Weitere Nachrichten anzeigen
    section.appeal
        .container 
            h4.section-title Zahlen Sie nicht zu viel für Dienstleistungen, die Sie nicht benötigen
            p.appeal__text Wir sind sehr stolz auf das Team, das wir aufgebaut haben - wir sind jetzt mehr als dreißig Leute
            .appeal__contacts 
                a(href="tel:0404313910").appeal__contact 040 431 391 0
                a(href="mailto:info@avbteam.de").appeal__contact.appeal__contact--mail info@avbteam.de
            a(href="#").appeal__btn.btn.btn--orange Lassen Sie uns reden
