main(class=`main main-${page}`)
    section(style="background-image: url(img/product/descriptor.jpg)").descriptor
        .container.container--flex 
            .descriptor__content
                h1.descriptor__title Krankenversicherung
                p.descriptor__text Ruhestandsplanung, Ihrer Geldanlage oder bei Ihren Versicherungen.
                p.descriptor__link Vertrauen Sie den Profis
    section.facts 
        h4.section-title Key Facts 
        ul.facts__list
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                h5.facts__title Sparschwein
                p.facts__text Durch unsere Planungen arbeite jeder Euro optimal für Sie: Ob bei Ihrer 
            li.facts__item 
                .facts__img 
                    img(src="img/icons/retirement.svg", alt="")
                h5.facts__title Regenschirm in einem Schild mit einem Arm
                p.facts__text Ruhestandsplanung, Ihrer Geldanlage oder bei Ihren Versicherungen.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/analytics.svg", alt="")
                h5.facts__title Analytisches Dokument
                p.facts__text Durch unsere jährlichen Prüfungen sind Sie immer auf dem besten Stand und müssen sich nicht selbst kümmern.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/insurance.svg", alt="")
                h5.facts__title Geld unter dem Regenschirm
                p.facts__text Sie haben uns als „lotsen“ die immer im Hintergrund aufpassen, dass Sie sicher sind.
    section.half-block.half-block--product
        .half-block__inner 
            h1.half-block__title Umfassende Krankenversicherung zum richtigen Preis
            h4.half-block__subtitle Eine Themenübersicht mit Informationen zur gesetzlichen und privaten Krankenversicherung, zu Beiträgen und Tarifen, Wahltarifen und Bonusprogrammen, zur elektronische Gesundheitskarte, zum Versicherungsschutz im Ausland, zur Versicherungspflicht während des Bundesfreiwilligendienstes (
        .half-block__img(style="background-image: url(img/product/rengen.jpg)")
    section.recommended 
        .container 
            .recommended__head
                h4.section-title Empfohlene Varianten
                p.recommended__subtitle Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
        .recommended__slider.swiper.js-recommendedSlider 
            .recommended__list.swiper-wrapper
                a(href="#").recommended__item.swiper-slide(style="background-image: url(img/product/slide1.jpg)")
                    p.recommended__text Private Krankenversicherung
                a(href="#").recommended__item.swiper-slide(style="background-image: url(img/product/slide2.jpg)")
                    p.recommended__text Zusatzversicherung Zahn
                a(href="#").recommended__item.swiper-slide(style="background-image: url(img/product/slide3.jpg)")
                    p.recommended__text Zusatzversicherung Krankenhaus
                a(href="#").recommended__item.swiper-slide(style="background-image: url(img/product/slide4.jpg)")
                    p.recommended__text Zusatzversicherung Heilpraktiker
        .recommended__arrows.slider-arrows
            .swiper-button-prev.recommended__prev 
                span Zurück 
            .swiper-button-next.recommended__next 
                span Weiter 
    section.price 
        .container
            h4.section-title Preisbeispiel
            p.price__subtitle Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
        ul.price__list 
            li.price__item
                .price__info
                    h5.price__name Klein
                    .price__cost €990 <span>pro Jahr</span>
                    p.price__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                    .price__links 
                        a(href="#").price__link
                            span Ich möchte denselben Plan
                        a(href="#").price__link.price__link--white
                            span Kontakt mit dem Team
                .price__services 
                    .price__services-title Liste der Dienstleistungen
                    .price__services-subtitle Profitieren Sie von allen Vorteilen 
                    ul.price__services-list
                        li.price__services-item Voll KV: 350€ - 650€
                        li.price__services-item Zahn: ca. 35€ / Monat
                        li.price__services-item Biopsie: Ab 50€ / zu einer Zeit
                        li.price__services-item Rehabilitationskurse: 10 € / Monat
                        li.price__services-item Besuch bei einem Therapeuten: 1 € / Tag
            li.price__item
                .price__info
                    h5.price__name Mittel
                    .price__cost €1490 <span>pro Jahr</span>
                    p.price__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an. Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                    .price__links 
                        a(href="#").price__link
                            span Ich möchte denselben Plan
                        a(href="#").price__link.price__link--white
                            span Kontakt mit dem Team
                .price__services 
                    .price__services-title Liste der Dienstleistungen
                    .price__services-subtitle Profitieren Sie von allen Vorteilen 
                    ul.price__services-list
                        li.price__services-item Voll KV: 350€ - 650€
                        li.price__services-item Zahn: ca. 35€ / Monat
                        li.price__services-item Biopsie: Ab 50€ / zu einer Zeit
                        li.price__services-item Rehabilitationskurse: 10 € / Monat
                        li.price__services-item Besuch bei einem Therapeuten: 1 € / Tag
            li.price__item
                .price__info
                    h5.price__name Groß
                    .price__cost €2490 <span>pro Jahr</span>
                    p.price__text Passt AVB-team zu Ihnen? Sehen Sie sich die Liste der offenen Stellen an.
                    .price__links 
                        a(href="#").price__link
                            span Ich möchte denselben Plan
                        a(href="#").price__link.price__link--white
                            span Kontakt mit dem Team
                .price__services 
                    .price__services-title Liste der Dienstleistungen
                    .price__services-subtitle Profitieren Sie von allen Vorteilen 
                    ul.price__services-list
                        li.price__services-item Voll KV: 350€ - 650€
                        li.price__services-item Zahn: ca. 35€ / Monat
                        li.price__services-item Biopsie: Ab 50€ / zu einer Zeit
                        li.price__services-item Rehabilitationskurse: 10 € / Monat
                        li.price__services-item Besuch bei einem Therapeuten: 1 € / Tag
    section.facts 
        h4.section-title Warum bei uns?
        ul.facts__list
            li.facts__item 
                .facts__img 
                    img(src="img/icons/piggy.svg", alt="")
                h5.facts__title Sparschwein
                p.facts__text Durch unsere Planungen arbeite jeder Euro optimal für Sie: Ob bei Ihrer 
            li.facts__item 
                .facts__img 
                    img(src="img/icons/retirement.svg", alt="")
                h5.facts__title Regenschirm in einem Schild mit einem Arm
                p.facts__text Ruhestandsplanung, Ihrer Geldanlage oder bei Ihren Versicherungen.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/analytics.svg", alt="")
                h5.facts__title Analytisches Dokument
                p.facts__text Durch unsere jährlichen Prüfungen sind Sie immer auf dem besten Stand und müssen sich nicht selbst kümmern.
            li.facts__item 
                .facts__img 
                    img(src="img/icons/insurance.svg", alt="")
                h5.facts__title Geld unter dem Regenschirm
                p.facts__text Sie haben uns als „lotsen“ die immer im Hintergrund aufpassen, dass Sie sicher sind.
    section.appeal
        .container 
            h4.section-title Zahlen Sie nicht zu viel für Dienstleistungen, die Sie nicht benötigen
            p.appeal__text Wir sind sehr stolz auf das Team, das wir aufgebaut haben - wir sind jetzt mehr als dreißig Leute
            .appeal__facts 
                a(href="tel:0404313910").appeal__contact 040 431 391 0
                a(href="mailto:info@avbteam.de").appeal__contact.appeal__contact--mail info@avbteam.de
            a(href="#").appeal__btn.btn.btn--orange Lassen Sie uns reden