block variables
    - var title = 'Category'
    - var page = 'category'
    
doctype html
html(lang='de')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/category
        include html/static/footer 
        include html/static/scripts       