block variables
    - var title = 'Contacts'
    - var page = 'contacts'
    
doctype html
html(lang='de')
    head 
        include html/static/head
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    body.body 
        include html/static/header
        include html/pages/contacts
        include html/static/footer 
        include html/static/scripts       