block variables
    - var title = 'Main'
    - var page = 'index'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/index
        include html/static/footer 
        include html/static/scripts   
        include html/components/video-popup     