block variables
    - var title = 'Legal'
    - var page = 'legal'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/legal
        include html/static/footer 
        include html/static/scripts       