block variables
    - var title = 'News'
    - var page = 'news-page'
    
doctype html
html(lang='de')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/news-page
        include html/static/footer 
        include html/static/scripts       