block variables
    - var title = 'Product'
    - var page = 'product'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/product
        include html/static/footer 
        include html/static/scripts       