block variables
    - var title = 'Thanks'
    - var page = 'thanks'
    
doctype html
html(lang='ru')
    head 
        include html/static/head
    body.body 
        include html/static/header
        include html/pages/thanks
        include html/static/footer 
        include html/static/scripts       